:host {
  display: none;
  z-index: calc(var(--zenza-base-z-index, 0) + 100000);
  position: absolute;
  top: var(--zenza-left-hover-link-top, 0);

  pointer-events: auto;
  flex-direction: column;
  height: max-content;
}
:host(.show) {
  display: flex;
}
