:host {
  --panel-header-height: 36px;
}

div.panel-header {
  padding: 4px;

  select {
    height: 100%;
    float: right;

    color: #fff;
    background: #444;
    text-align: right;
    border: none;
  }
}

div.empty {
  margin: 0;
  padding: 1px;
  background: #333;
  width: 100%;
  height: 100%;

  p.status {
    width: fit-content;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    top: 50%;
    translate: 0 -50%;
  }
}
