:host {
  display: block;
  overflow: hidden;
  width: 320px;
  height: 60vh;
  position: absolute;
  top: 20vh;
  right: 0;
  border: 1px #252525 solid;

  transition: translate 0.4s ease 1s;

  div.info-panel {
    height: calc(60vh - 32px);
  }

  opacity: 0.9;

  > * {
    transition: opacity 0.4s ease 0s;
  }
}
:host(:not(:hover)) {
  translate: 288px;

  > * {
    opacity: 0;
  }
}
