div.owner {
  margin-block: 16px;
  text-align: center;

  a {
    display: block;
    width: fit-content;
    margin: auto;

    img {
      width: 96px;
      height: 96px;
    }
  }

  .name {
    display: block;
    font-size: 1.2rem;
    margin: 0;
  }
}

p.description {
  color: #000;
  filter: invert(1);

  margin: 8px;
  padding: 0;
}
