div.owner {
  margin-top: 1rem;
  text-align: center;

  a {
    display: block;
    width: fit-content;
    margin: auto;
  }

  .name {
    display: block;
    font-size: 1.2rem;
    margin: 0;
  }
}

p.description {
  color: #000;
  filter: invert(1);

  margin: 0;
  padding: 1rem;
}
