:host {
  margin: 0;
  padding-inline: 2px 16px;
  background: #151515;

  position: relative;
}

div.comment {
  margin-block: 2px;
  padding-inline: 7px;
  background: #333;

  --comment-height: calc(1rem * 1.6 + 0.9rem * 1.6);
  height: var(--comment-height);

  &:nth-child(even) {
    background: #252525;
  }

  div.info {
    font-size: 0.9rem;
    color: #aaa;

    display: flex;
    justify-content: space-between;
  }

  p.text {
    font-size: 1rem;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:focus-within {
    position: absolute;
    left: 1px;
    right: 15px;

    background: #404030;
    border: 1px solid #eee;

    height: fit-content;
    margin-top: -1px;

    &:first-child {
      translate: 0 2px;
    }

    + div.comment {
      margin-top: calc(var(--comment-height) + 4px);
    }

    p.text {
      overflow: visible;
      white-space: break-spaces;
    }
  }
}
