:host {
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-auto-rows: 72px 1fr;
  grid-gap: 1ex;

  padding: 8px;
  background: #444;

  cursor: pointer;
}

div.thumbnail {
  position: relative;
  width: fit-content;

  img {
    display: block;
    width: 128px;
  }

  span.duration {
    position: absolute;
    right: 4px;
    bottom: 4px;

    background: #000;

    font-size: 0.7rem;
    line-height: 1;
    padding: 4px;
  }
}

div.info {
  p.date {
    font-size: 0.7rem;
    line-height: 1;

    margin: 0;
  }

  p.title {
    margin-block: 1ex;
    overflow: hidden;

    line-clamp: 2;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;

    filter: invert(1);
  }
}

ul.count {
  grid-column: 1 / 3;

  display: flex;
  list-style: none;
  margin-block: 0;
  padding: 0;

  font-size: 0.7rem;
  line-height: 1;

  span.value {
    white-space: nowrap;
  }
}
