:host {
  display: none;
  z-index: calc(var(--zenza-base-z-index, 0) + 100001);
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 0.8);
  font-family: sans-serif;
}
:host([open]) {
  display: block;
}

p.status {
  font-size: 0.8rem;
  color: #fff;
  background: #000;
  margin: 0;
  line-height: 1.2;

  position: absolute;
  bottom: 0;
  left: 0;
}
