:host {
  color: #fff;
  background: rgba(25, 25, 25, 0.5);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  padding: 0.5rem;

  position: absolute;
  inset: 0;
  bottom: unset;
}

h2 {
  flex-basis: 100%;
  margin: 0;

  font-size: 1.22rem;
  height: calc(1.22rem * 1.6);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

p.date {
  margin: 0;

  font-size: 0.8rem;
  min-height: calc(0.8rem * 1.66);
}

ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &.count {
    gap: 1em;

    li {
      font-size: 0.8rem;
      height: calc(0.8rem * 1.66);
    }
  }

  &.tags {
    flex-basis: 100%;

    gap: 1ex;
    font-size: 0.8rem;
    min-height: calc(0.8rem * 2.05);

    li {
      padding: 3px 6px;
      border-radius: 1rem;

      cursor: pointer;

      &:hover {
        background: rgb(160, 160, 160, 0.5);
      }

      &::before {
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.2;
        width: calc(0.75rem * 1.2);
        text-align: center;

        display: inline-block;
        margin: 1px;
        padding: 3px;
        border-radius: calc(0.75rem * 1.2 / 2 + 3px);
      }

      &.nicodic::before {
        background: red;
        content: "百";
      }

      &:not(.nicodic)::before {
        background: grey;
        content: "？";
      }
    }
  }
}

button.close {
  font-size: 0;

  position: absolute;
  top: 0px;
  right: 1px;
  background: #000;
  color: #fff;
  border: 1px solid #777;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &::before {
    content: "✕";
    font-size: 1.5rem;
    line-height: 1;
  }
}
