:host {
  position: absolute;
  bottom: 32px;
  left: 0;

  display: flex;
  flex-direction: column;

  p.message {
    color: #fff;
    margin: 1rem;
    padding-inline: 1rem;
    line-height: calc(1em * 1.2 + 2rem);

    max-height: calc(1em * 1.2 + 2rem);
    box-sizing: border-box;

    overflow: hidden;

    &[data-message-type="normal"] {
      background: #355;
    }

    &[data-message-type="success"] {
      background: #573;
    }

    &[data-message-type="failure"] {
      background: #733;
    }

    transition:
      max-height 0.5s ease 0s,
      margin 0.5s ease 0s,
      rotate 1s ease 0.5s;

    &.hide {
      transition:
        max-height 0.5s ease 0.5s,
        margin 0.5s ease 0.5s,
        rotate 0.5s ease 0s;
      max-height: 0;
      margin: 0;
      rotate: x 0.25turn;
    }
  }
}
