:host {
  display: none;
}
:host(:not([data-video-id=""])) {
  display: block;
}

slot[name="menu"] {
  z-index: calc(var(--zenza-base-z-index, 0) + 100000);
  position: absolute;

  display: flex;
  flex-direction: column;
  height: max-content;
  pointer-events: auto;
}
