# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
      - rewrite/master
  pull_request:
    branches:
      - rewrite/master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: lts/*
        cache: npm
    - run: npm ci
    - run: |
        npm run compile
        npm run compile -- --clean
    - run: npm run build:dev
    - uses: actions/upload-artifact@v2
      with:
        name: dist
        path: packages/*/dist/*.user.js

  lint:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: lts/*
        cache: npm
    - run: npm ci
    - run: npm run lint

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: lts/*
        cache: npm
    - run: npm ci
    - run: npm test

  # deploy:
  #   if: ${{  }}
  #   needs: build

  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: actions/setup-node@v2
  #     with:
  #       node-version: lts/*
  #       cache: npm
  #   - run: npm ci
  #   - run: npm run build:prod
  #   - uses: actions/upload-artifact@v2
  #     with:
  #       name: scripts
  #       path: dist/
